apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
  labels:
    name: cert-manager
    component: baseline
    environment: {{ .Values.environment }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
  labels:
    name: ingress-nginx
    component: baseline
    environment: {{ .Values.environment }}
